body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("image/backdrop1.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #0a0a0a;
    background-color: rgba(238, 238, 233, 0.514);
    font-size: 80px;
    margin-bottom: 20px;
}
h2 {
    color: #0a0a0a;
    background-color: rgba(238, 238, 233, 0.514);
    font-size: 32px;
    margin-bottom: 20px;
}
legend{
    color: #0a0a0a;
    background-color: rgba(238, 238, 233, 0.514);
    font-size: 32px;
}

.button {
    padding: 10px 20px;
    background: #3f76b185;
    color: #0e0d0d;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    background: #0c5aad80;
}


